{% extends 'base_user.html' %}

{% block content %}

<div class="row text-center">
    {% for user in users %}
        <div class="col-3">
            <div class="card mb-4" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">{{ user.username }}</h5>
                      <p class="card-text">{{ user.email }}</p>
                      <p class="card-text">{{ user.country }}</p>
                      <p class="card-text">{{ user.phone_number }}</p>
                      <p class="card-text">{{ user.email }}</p>
                      <p class="card-text">{{ user.email }}</p>
                      {% if user.is_authenticated and 'distribution.block_user' %}
                          <a href="{% url 'distribution:block' user.pk %}" class="btn btn-danger mb-1">Заблокировать</a>
                      {% endif %}
                  </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}